{
    "_comment": "'trailingComma': 'none',",
    "semi": true,
    "trailingComma": "all",
    "printWidth": 2000,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "arrowParens": "always"
}